.Footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: auto;
    border-top: 1px solid rgba(128, 128, 128, 0.165);
   border-radius: 10px;
}

.FooterSector{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 50px auto;
    
    


}



.FooterSector img{
    width: 25rem;
    
}


.FooterSector .info{
    display: flex;
    flex-direction: column;
    width: 50%;
   
    text-align: center;
    
}

.info h2{
    margin: 20px auto;
}

.info h3{
    margin: 0;
}

.info p{
    margin: 0;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}