.WhatsappButton{
    position: absolute;
    position: fixed;
    bottom: 20px;
    right: 40px;
    cursor: pointer;
    filter: drop-shadow(0 0 0.4em #2f302f7c);
    
}



.WhatsappButton img{
    width: 65px;
    
}

.WhatsappButton img:hover{
    
    transition: 0.5s all;
    filter:hue-rotate(65deg) ;
}